.Container {
  vertical-align: middle;
}

.Label {
  text-align: center;
  vertical-align: middle;
}
.Input {
  align-content: center;
  padding-inline-start: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-spacing: 1in;
}

.Input-container {
  size: 10cm;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.Button {
  background-color: #4b5052;
  background-image: -webkit-linear-gradient(top, #f5d672, #e08600);
  border: 2px solid whitesmoke;
  color: whitesmoke;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  width: 15%;
  font-family: Open Sans;
  cursor: pointer;
}
